

#page1 {
  background-image: url(../img/page1bg.jpg);
}
.container {
  margin: 0, auto;
}
#container1 {
  color: white;
      font-family: 'Poppins', sans-serif;
      text-align: center;
      outline: none;
      position: absolute;
      width: 80%; height: 50%;
      margin-left: 10%;
      margin-right: 10%;
      margin-top: 200px;
} #container1 h1 {
  animation: container11 1s;
  animation-delay: 0s;
} #container1 p {
  color: rgb(230, 228, 214);
  animation: container12 1s;
} #container1 a {
  font-size: 24px;
  border-radius: 0;
  border: 1px solid white;
  margin-right: 30px;
} #container1 #a1 {
  color: #000000;
  background-color: white;
  animation: container13 1s;
} #container1 a:hover {
  background-color: skyblue;
} #container1 #a2 {
  color: white;
}

@keyframes container11{
    from {margin-right: 600px; opacity: 0;}
    to {opacity: 1;}
}@keyframes container12{
    from {margin-left: 400px; opacity: 0;}
    to {opacity: 1;}
}@keyframes container13{
    from {margin-right: 400px; opacity: 0; display: block;}
    to {margin-right: 30px; display: block; opacity: 1;}
}@keyframes container14{
    from {}
    to {background-color: skyblue;}
}