#page3 {
  background-image: url(../img/page1bg.jpg);
}

#container3 {
  color: black;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  outline: none;
  position: absolute;
  width: 90vw; height: 90vh;
  margin-left: 5%;
  margin-right: 5%;
  /* background-color: skyblue; */
  position: relative;
} #container3 #desc{
  /* background-color: gray; */
  padding-top: 10vh;
} #container3 #card {
  /* background-color: yellow; */
} #container3 .card {
  position: relative;
  display: inline-block;
  background-color: white;
  width: 20vw; height: 50vh;
  margin: 5vh;
  padding: 50px;
  border-radius: 10px;
  transition: margin-top 1s,  background-color 1s; 
} #container3 .card-aside {
} #container3  .card-middle {
  margin-top: 10vh;
} #container3 .card .header {
  width: 50%;
} #container3 .card .footer {
  position: absolute;
  left: 0; bottom: 0;
} #container3 .card h4 {
  padding-top: 30px;
} #container3 .card p {
  color: gray;
} #container3 .card:hover {
  animation-fill-mode: forwards;
  box-shadow: 0, 0, ;
  transform:translateY(-50px);
  transition:all 500ms ease;   
  box-shadow: 0 0 40px 5px white; 
}

@keyframes container31{
  from{m}
  to{}
}